<div class="container">
  <lifecycle [x]="n" ></lifecycle>


  
    X=<input type="number" [(ngModel)]="n"/>
  


  <!-- <counter></counter> -->
<!-- <calculator></calculator> -->

<!-- <ng-if-demo></ng-if-demo> -->
<!-- <ngswitch-demo></ngswitch-demo> -->



<!-- 
  <h1>{{message}}</h1>
  Hello, {{title}}
  <br />
  
 Name:<input type="text" (input)="username=getValue($event)" [value]="username" />
 <p>You have entered {{username}}</p>

Name:<input type="text" [(ngModel)]="firstName" />
<p>You have enetered {{firstName}}</p>




  <div [ngStyle]="addStyles()">
    Hello
  </div>
  
  <button class="btn btn-danger" (click)="show()" >Button1</button>

  <p>{{getData()}}</p>

  <h3>{{'First Name:'+firstName}}</h3>
  <h3>{{10+20+30}}</h3>
  <h3>{{firstName?firstName:'No name specified'}}</h3>
  <img src="{{imagePath}}" [style.width.px]="w" [style.height.px]="h"/>
  <img [src]="imagePath" width="200" height="300"/>

  <button class="btn btn-primary" [disabled]="btnDisabled">Button1</button>

  <p [ngClass]="getBtnCssClasses()">This is sample para</p>

  <div>
    Enter your name:<input #uname type="text" />
   <button (click)="onClick(uname.value)">Click Me</button>
  </div> -->
  
</div>