<div class="container">
  <div class="row alert alert-info">
    <div class="col">
      <header></header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 alert alert-warning">
      <side-menu></side-menu>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
      <!-- <add-contact></add-contact> -->
       <!-- <edit-contact></edit-contact> -->
      <!-- <contact-details></contact-details> -->
       <!-- <contact-list></contact-list> -->
        <!-- <parent></parent> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <footer></footer>
    </div>
  </div>
</div>



